.shopform{
    display: flex;
    flex-direction: column; 
    gap: 1rem;

    input{
        padding: 1rem;
        border-radius: 5px;
    }

    input[type="text"] {
        color: #000000;
    }
}

    input[type="number"] {
        color: #000000
    }