.shoplist-card{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    color: #000000;
    width: 85%;

}

.shoplist-card first-of-type{
    flex: 1;
}

.shoplist-card input[type="number"] {
    width: 30px;
    text-align: right;
}
