@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --red: #da291c;
    --yellow: #ffd700;
    --blue: #006db7;
    --green: #00af4d;
    --white: #ffffff;
    --black: #000000;

    --rootsize: 20px;
    --maxwidth: 1200px;

}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--yellow);
    background-image: url(website_images/mainbackground.png)

    
}